p
{
    color: blue;
    font-size: 14px;
}
p
{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
p{
    text-align: center;
    text-overflow: inherit;
}
div{
    text-align: center;
    text-overflow: inherit;
}
button {

    text-align: center;
    text-overflow: inherit;
    font-size: 14px;
}
